[logging]
level = INFO

[db_conf]
host = localhost
port = 5432
database = mock_server
user = mock_server
password = mock_server

[graph]
base_path = /opt/otp/complex_rest/plugins/mock_server/graphs
tmp_path = /opt/otp/complex_rest/plugins/mock_server/tmp
id_name_map_path = /opt/otp/complex_rest/plugins/mock_server/id_name_map

[workspace]
base_path = /opt/otp/complex_rest/plugins/mock_server/workspaces
tmp_path = /opt/otp/complex_rest/plugins/mock_server/tmp

[neo4j]
uri = neo4j://localhost:7687
user = neo4j
password = password
name = neo4j  # DB name

[testing]
through_neo4j = False