[logging]
level = INFO

[workspace]
base_path = /opt/otp/complex_rest/plugins/mock_server/workspaces
tmp_path = /opt/otp/complex_rest/plugins/mock_server/tmp

[neo4j]
uri = neo4j://localhost:7687
user = neo4j
password = password
name = neo4j

[testing]
use_db = false