{
    "keys": {
        "edges": "edges",
        "nodes": "nodes",
        "source_node": "sourceNode",
        "source_port": "sourcePort",
        "target_node": "targetNode",
        "target_port": "targetPort",
        "yfiles_id": "primitiveID"
    },
    "labels": {
        "edge": "Edge",
        "node": "Node"
    },
    "types": {
        "out": "OUT",
        "in": "IN"
    }
}
