{
    "keys": {
        "parent_key": "_key",
        "position": "_pos"
    },
    "labels": {
        "array": "_Array",
        "attribute": "_Attribute",
        "composite": "_Composite",
        "item": "_Item"
    },
    "types": {
        "contains_item": "CONTAINS_ITEM",
        "has_attribute": "HAS_ATTRIBUTE"
    }
}
