{
    "keys": {
        "parent_key": "_key",
        "position": "_pos"
    },
    "labels": {
        "array": "_Array",
        "attribute": "_Attribute",
        "composite": "_Composite",
        "data": "_Data",
        "entity": "_Entity",
        "fragment": "_Fragment",
        "item": "_Item"
    },
    "types": {
        "contains_item": "CONTAINS_ITEM",
        "contains_entity": "CONTAINS_ENTITY",
        "has_attribute": "HAS_ATTRIBUTE",
        "has_data": "HAS_DATA"
    }
}
